////////////////////////////////////////SCREEN////////////////////////////////////

@screen-xlg: 1800px;
@screen-lg: 1200px;
@screen-md: 992px;
@screen-sm: 768px;
@screen-xxs: 640px;
@screen-xs: 480px;

////////////////////////////////////////COLOR/////////////////////////////////////
@main-color: @main_color;//#FF2B42;
@secondary-color: @secondary_color;//222222;
@light-color: #FFFFFF;//
@black-color: #000000;//
@dark-color: #1C1C1C;//
@dark-color-1: #282828;//
@dark-color-2: #303030;//
@dark-color-3: #555555;//
@dark-color-4: #454545;//
@dark-color-5: #444444;//
@darkgray-color: #585858;//
@darkgray-color-1: #999999;//
@darkgray-color-2: #777777;//
@darkgray-color-3: #888888;//
@gray-color: #AEAEAE;//
@gray-color-1: #B5B5B5;//
@gray-color-2:#EFEEEE;//
@gray-color-3:#D4D4D4;//
@gray-color-4:#EBEBEB;//
@gray-color-5:#E2E2E2;//
@gray-color-6:#B9B9B9;//
@lightgray-color: #E5E1E1;//
@lightgray-color-1: #F6F6F6;//
@lightgray-color-2: #F2F2F2;//
@lightgray-color-3: #ECECEC;//

@lightgray-color-0 : #F5F5F5;

@bg-color-1: #0D0D0D;//
@bg-color-2: #E4E3E3;//
@bg-color-3: #FCFCFC;//
@bg-color-4: #FAFAFA;//
@bg-color-5: #FBFBFB;//
@bg-color-6: #FFFFFF;

@input-color-1: #0F5689;
@input-color-2: #D93600;
@input-color-3: #888888;
@input-color-4: #E0DDDA;
@input-color-5: #222222;

///////////////////////////////////////ANIMATION////////////////////////////////////

@duration-time: 0.4s;
@duration-longtime: 0.7s;
@duration-extra-longtime: 1.2s;

///////////////////////////////////////TYPOGRAPHY////////////////////////////////////

@font-size-1: 42px;
@font-size-2: 36px;
@font-size-3: 24px;
@font-size-4: 18px;
@font-size-5: 16px;
@font-size-6: 14px;
@font-size-7: 13px;
@font-size-8: 12px;
@font-size-9: 11px;
@base-font-size: 14px;
@base-line-height: 26px;
