.woocommerce a.added_to_cart {
	position: absolute;
	bottom: -30px;
	left: 50%;
	z-index: 9;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.onsale-style1 {
	.bt-default-font-main;
	font-size: @font-size-9;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 0.48px;
	text-transform: uppercase;
	text-align: center;
	color: @light-color;
	background: @secondary-color;
	position: absolute;
	top: 15px;
	left: 15px;
	width: 50px;
	height: 50px;
	margin: 0;
	padding: 0;
	z-index: 9;
}
.bt-price1 {
	.bt-default-font-main;
	font-size: 0;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: 0.48px;
	display: inline-block;
	text-align: center;
	position: absolute;
	bottom: 15px;
	left: 50%;
	min-width: 230px;
	background: fadeout(@light-color, 5);
	padding: 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	.amount {
		font-size: 15px;
		color: @main-color;
	}
	> del {
		font-size: @font-size-7;
		line-height: @font-size-7;
		color: @darkgray-color-1;
		margin: 0 5px;
		.amount {
			font-size: @font-size-7;
			line-height: @font-size-7;
			color: @darkgray-color-1;
		}
	}
	> ins {
		font-size: 15px;
		color: @main-color;
		text-decoration: none;
		margin: 0 5px;
	}
}

.bt-add-to-cart1 {
	.bt-default-font-main;
	font-size: @font-size-9;
	font-weight: 400;
	line-height: @font-size-9;
	letter-spacing: 0.48px;
	text-transform: uppercase;
	color: @main-color;
	background: transparent;
	padding: 15px 30px;
	border: 2px solid @main-color;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	&:hover {
		color: @light-color;
		background: @main-color;
	}
}

.bt-product-item-style1 {
	background: @light-color;
	margin-bottom: 30px;
	.bt-thumb {
		position: relative;
		width: 49%;
		float: left;
		> a > img {
			width: 100%;
			height: auto;
		}
		span {
			&.onsale {
				.onsale-style1;
			}
			&.price {
				.bt-price1;
			}
		}
	}
	.bt-content {
		position: relative;
		width: 51%;
		float: right;
		text-align: center;
		padding: 45px 0 0 30px;
		> a {
			> h2, > h3 {
				.easing-animation;
				font-size: @font-size-4;
				font-weight: 700;
				line-height: 28px;
				letter-spacing: 0.48px;
				text-transform: uppercase;
				margin-bottom: 10px;
				color: @dark-color-2;
				&:hover {
					color: @main-color;
				}
			}
			&.button {
				.bt-add-to-cart1;
			}
		}
		.star-rating {
			font-size: @font-size-8;
			line-height: 10px;
			color: @dark-color-2;
			float: none;
			margin: 0 auto 10px;
			> span {
				color: @main-color;
			}
			&:before {
				color: @dark-color-2;
			}
		}
		.description {
			font-size: @font-size-6;
			font-weight: 400;
			line-height: 26px;
			letter-spacing: 0.48px;
			color: @dark-color-3;
			margin-bottom: 30px;
		}
		&:before {
			.easing-animation;
			content: "";
			position: absolute;
			top: 50%;
			height: 16px;
			left: 0;
			width: 16px;
			background: @light-color;
			opacity: 0;
			-webkit-transform: translateY(-50%) rotate(45deg);
			-moz-transform: translateY(-50%) rotate(45deg);
			-o-transform: translateY(-50%) rotate(45deg);
			-ms-transform: translateY(-50%) rotate(45deg);
			transform: translateY(-50%) rotate(45deg);
		}
	}
	&.bt-rlt {
		.bt-thumb {
			float: right;
		}
		.bt-content {
			float: left;
			padding: 45px 30px 0 0;
			&:before {
				left: auto;
				right: 0;
			}
		}
	}
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

.bt-product-item-style2 {
	margin-bottom: 30px;
	.bt-thumb {
		position: relative;
		margin-bottom: 25px;
		overflow: hidden;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		> a > img {
			width: 100%;
			height: auto;
		}
		span {
			&.onsale {
				.onsale-style1;
			}
			&.price {
				.bt-price1;
			}
		}
	}
	.bt-content {
		position: relative;
		text-align: center;
		> a {
			> h2, > h3 {
				.easing-animation;
				font-size: @font-size-4;
				font-weight: 700;
				line-height: 28px;
				letter-spacing: 0.48px;
				text-transform: uppercase;
				margin-bottom: 10px;
				color: @dark-color-2;
				&:hover {
					color: @main-color;
				}
			}
			&.button {
				.bt-add-to-cart1;
			}
		}
		.star-rating {
			font-size: @font-size-8;
			line-height: 10px;
			color: @dark-color-2;
			float: none;
			margin: 0 auto 20px;
			> span {
				color: @main-color;
			}
			&:before {
				color: @dark-color-2;
			}
		}
		.description {
			font-size: @font-size-6;
			font-weight: 400;
			line-height: 26px;
			letter-spacing: 0.48px;
			color: @dark-color-3;
			margin-bottom: 30px;
		}
		&:before {
			.easing-animation;
			content: "";
			position: absolute;
			top: 50%;
			height: 16px;
			left: 0;
			width: 16px;
			background: @light-color;
			opacity: 0;
			-webkit-transform: translateY(-50%) rotate(45deg);
			-moz-transform: translateY(-50%) rotate(45deg);
			-o-transform: translateY(-50%) rotate(45deg);
			-ms-transform: translateY(-50%) rotate(45deg);
			transform: translateY(-50%) rotate(45deg);
		}
	}
}

.tb-products-grid {
	&.tpl1 {
		.product {
			.bt-product-item-style1;
			&:hover {
				.bt-content > a > h3 {
					color: @main-color;
				}
				.bt-content {
					> a.button {
						color: @light-color;
						background: @main-color;
					}
					&:before {
						opacity: 1;
						left: -8px;
					}
				}
				&.bt-rlt {
					.bt-content {
						&:before {
							left: auto;
							right: -8px;
						}
					}
				}
			}
		}
	}
	&.tpl2 {
		.product {
			.bt-product-item-style2;
			margin-bottom: 50px;
		}
	}
	.bt-pagination {
		.bt-pagination-style1;
	}
}

@media(max-width: @screen-lg - 1) {
	.tb-products-grid{
		&.tpl1 .product {
			.bt-thumb span.price {
				min-width: 180px;
			}
			.bt-content {
				padding: 20px 0 0 30px;
			}
			&.bt-rlt .bt-content {
				padding: 20px 30px 0 0;
			}
		}
		&.tpl2 .product .bt-thumb span.price {
			min-width: 180px;
		}
	}
}
@media(max-width: @screen-md - 1) {
	.tb-products-grid{
		&.tpl1 .product {
			max-width: 270px;
			margin: 0 auto 30px;
			.bt-thumb {
				width: 100%;
				span.price {
					min-width: 240px;
				}
			}
			.bt-content {
				width: 100%;
				padding: 20px 0;
				&:before {
					display: none;
				}
			}
			&.bt-rlt .bt-content {
				padding: 20px 0;
			}
		}
		&.tpl2 .product {
			max-width: 270px;
			margin: 0 auto 30px;
			.bt-thumb span.price {
				min-width: 240px;
			}
		}
	}
}

.woocommerce .bt-product-items {
	.product {
		.bt-product-item-style2;
		margin-bottom: 50px;
	}
}

@media(max-width: @screen-lg - 1) {
	.woocommerce .bt-product-items{
		.product .bt-thumb span.price {
			min-width: 180px;
		}
	}
}
@media(max-width: @screen-md - 1) {
	.woocommerce .bt-product-items{
		.product {
			max-width: 270px;
			margin: 0 auto 50px;
			.bt-thumb span.price {
				min-width: 240px;
			}
		}
	}
}

.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {
	.bt-default-font-main;
	font-size: @font-size-6;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0.64px;
	text-transform: uppercase;
}

.woocommerce .woocommerce-ordering select {
	.bt-default-font-main;
	font-size: @font-size-9;
	font-weight: 400;
	letter-spacing: 0.64px;
	text-transform: uppercase;
}

@media(max-width: @screen-xxs - 1) {
	.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {
		width: 100%;
		text-align: center;
	}
	.woocommerce .woocommerce-ordering {
		width: 100%;
	}
}

.woocommerce nav.woocommerce-pagination {
	text-align: center;
	ul {
		border: none;
		> li {
			display: inline-block;
			margin: 0 4px;
			border: none;
			.page-numbers {
				display: inline-block;
				width: 65px;
				height: 55px;
				.bt-default-font-main;
				font-size: @font-size-6;
				font-weight: 400;
				letter-spacing: 0.48px;
				line-height: 55px;
				text-align: center;
				color: @dark-color-3;
				background: @bg-color-4;
				padding: 0;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				> i {
					font-size: @font-size-5;
				}
				&.current, &:hover {
					color: @light-color;
					background: @secondary-color;
				}
			}
		}
	} 
}

.bt-single-add-to-cart {
	> span {
		.bt-default-font-main;
		font-size: @font-size-8;
		font-weight: 400;
		letter-spacing: 0.16px;
		text-transform: uppercase;
		color: @dark-color-1;
		display: inline-block;
		vertical-align: middle;
	}
	.quantity {
		display: inline-block;
		vertical-align: middle;
		float: none;
		margin-left: 15px;
		> input {
			font-size: @font-size-8;
			font-weight: 700;
			letter-spacing: 0.48px;
			color: @dark-color-1;
			width: 85px;
			height: 42px;
			border: 1px solid @lightgray-color-3;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			&:focus {
				border-color: @main-color;
			}
		}
	}
	.single_add_to_cart_button {
		.easing-animation;
		.bt-default-font-main;
		font-size: @font-size-7;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: 0.16px;
		text-transform: uppercase;
		color: @light-color;
		background: @main-color;
		padding: 10px 30px;
		border: 2px solid @main-color;
		-webkit-border-radius: 3px;
		moz-border-radius: 3px;
		border-radius: 3px;
		position: absolute;
		top: 50px;
		right: 60px;
		z-index: 9;
		&:hover {
			color: @main-color;
			background: transparent;
		}
	}
}

.single-product {
	.bt-product-item {
		.bt-header {
			position: relative;
			overflow: hidden;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			.onsale {
				.onsale-style1;
			}
			.bt-thumb img {
				width: 100%;
				height: auto;
			}
			.bt-header-inner {
				position: relative;
				background: @bg-color-4;
				margin-bottom: 60px;
				padding: 40px 60px 60px;
				border-bottom: 20px solid @lightgray-color-1;
				border-left: 20px solid @lightgray-color-1;
				border-right: 20px solid @lightgray-color-1;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				.bt-no-relative {
					position: static;
				}
				.woocommerce-product-rating {
					margin-bottom: 15px;
					.star-rating {
						font-size: @font-size-8;
						line-height: 10px;
						color: @dark-color-2;
						float: none;
						display: inline-block;
						margin: 0;
						> span {
							color: @main-color;
						}
						&:before {
							color: @dark-color-2;
						}
					}
					> a {
						display: inline-block;
						font-size: @font-size-8;
						font-weight: 400;
						letter-spacing: 0.64px;
						color: #868585;
						margin-left: 30px;
						&:hover {
							color: @main-color;
						}
					}
				}
				.product_title {
					font-size: 22px;
					font-weight: 700;
					line-height: 30px;
					letter-spacing: 0.16px;
					text-transform: uppercase;
					color: @dark-color-2;
					margin-bottom: 15px;
				}
				.price {
					.bt-default-font-main;
					font-size: 0;
					font-weight: 700;
					line-height: 28px;
					letter-spacing: 0.48px;
					display: block;
					margin-bottom: 15px;
					.amount {
						font-size: 15px;
						color: @main-color;
					}
					> del {
						font-size: @font-size-6;
						line-height: @font-size-6;
						color: @darkgray-color-1;
						margin-right: 5px;
						.amount {
							font-size: @font-size-6;
							line-height: @font-size-6;
							color: @darkgray-color-1;
						}
					}
					> ins {
						font-size: @font-size-4;
						color: @main-color;
						text-decoration: none;
						margin: 0 5px;
					}
				}
				.cart {
					margin-bottom: 0;
					.bt-single-add-to-cart;
				}
				.variations_form {
					margin-bottom: 0;
					
					.variations {
						margin-bottom: 0;
						tr > td {
							label {
								.bt-default-font-main;
								font-size: @font-size-8;
								font-weight: 400;
								line-height: 65px;
								letter-spacing: 0.48px;
								color: @dark-color-2;
								text-transform: uppercase;
							}
							select {
								margin: 0;
							}
							.reset_variations {
								font-size: @font-size-8;
								font-weight: 700;
								color: @dark-color-2;
								text-transform: uppercase;
								&:hover {
									color: @main-color;
								}
							}
						}
					}
					.single_variation_wrap .woocommerce-variation-add-to-cart {
						.bt-single-add-to-cart;
					}
				}
				.thumbnails {
					margin-top: 130px;
					> a > img {
						-webkit-border-radius: 3px;
						-moz-border-radius: 3px;
						border-radius: 3px;
					}
				}
			}
		}
		.bt-content {
			.woocommerce-tabs {
				ul.tabs {
					margin: 0 0 15px;
					padding: 0;
					&:before, &:after {
						display: none !important;
					}
					> li {
						display: inline-block;
						background: transparent;
						margin: 0 4px 0 0;
						padding: 0;
						border: none;
						&:last-child {
							margin-right: 0;
						}
						&:before, &:after {
							display: none !important;
						}
						> a {
							.bt-default-font-main;
							font-size: @font-size-7;
							font-weight: 700;
							letter-spacing: 0.48px;
							text-transform: uppercase;
							color: @light-color;
							background: @main-color;
							padding: 8px 30px;
							border: 2px solid @main-color;
							-webkit-border-radius: 3px;
							-moz-border-radius: 3px;
							border-radius: 3px;
							&:hover {
								color: @main-color;
								background: transparent;
							}
						}
						&.active {
							> a {
								color: @main-color;
								background: transparent;
							}
						}
					}
				}
				.panel {
					border: none;
					box-shadow: none;
					margin-bottom: 50px;
					h2 {
						font-size: @font-size-4;
						font-weight: 700;
						letter-spacing: 0.48px;
						color: @dark-color-2;
						margin-bottom: 5px;
					}
					> p {
						// font-size: @font-size-6;
						font-weight: 400;
						line-height: 32px;
						letter-spacing: 0.48px;
						color: @dark-color-3;
					}
					#reviews #comments ol.commentlist {
						margin: 0 0 10px;
						padding: 0;
						> li {
							img.avatar {
								width: 60px;
								height: auto;
								padding: 0;
								border: none;
								-webkit-border-radius: 3px;
								-moz-border-radius: 3px;
								border-radius: 3px;
							}
							.comment-text {
								margin-left: 90px;
								.star-rating {
									font-size: @font-size-8;
									line-height: 10px;
									color: @dark-color-2;
									display: inline-block;
									margin: 0;
									> span {
										color: @main-color;
									}
									&:before {
										color: @dark-color-2;
									}
								}
								.meta {
									.bt-default-font-main;
									font-size: @font-size-9;
									font-weight: 700;
									line-height: 11px;
									letter-spacing: 0.48px;
									color: @dark-color-2;
									text-transform: uppercase;
								}
								.description > p {
									font-size: @font-size-6;
									font-weight: 400;
									line-height: 32px;
									letter-spacing: 0.48px;
									color: @dark-color-3;
								}
							}
						}
					}
					#review_form_wrapper #review_form #respond {
						> h3 {
							font-size: @font-size-4;
							font-weight: 700;
							letter-spacing: 0.48px;
							color: @dark-color-2;
							margin-bottom: 5px;
						}
						.comment-form {
							> p {
								margin: 0;
								> label {
									font-size: @font-size-6;
									font-weight: 400;
									letter-spacing: 0.48px;
								}
								.stars a {
									color: @secondary-color;
									&:hover {
										color: @main-color;
									}
								}
								input.submit {
									.bt-btn;
									text-transform: uppercase;
									color: @light-color;
									background: @main-color;
									border: 2px solid @main-color;
									&:hover {
										color: @main-color;
										background: transparent;
									}
								}
							}
						}
					}
				}
			}
			.bt-related {
				> h6 {
					font-size: @font-size-8;
					font-weight: 400;
					line-height: 28px;
					letter-spacing: 0.16px;
					color: @dark-color-3;
					text-transform: uppercase;
					margin-bottom: 5px;
				}
				> h4 {
					position: relative;
					font-size: 22px;
					font-weight: 700;
					letter-spacing: 0.16px;
					color: @dark-color-1;
					text-transform: uppercase;
					margin-bottom: 45px;
					padding-bottom: 15px;
					&:after {
						content: "";
						position: absolute;
						bottom: 0;
						left: 0;
						width: 50px;
						height: 3px;
						background: @main-color;
					}
				}
			}
		} 
	}
}

@media(max-width: @screen-md - 1) {
	.single-product .bt-product-item .bt-header .bt-header-inner .thumbnails {
		margin-top: 30px;
	}
}

@media(max-width: @screen-xxs - 1) {
	.single-product .bt-product-item .bt-header .bt-header-inner {
		padding: 20px 10px;
		.variations_form .single_variation_wrap .woocommerce-variation-add-to-cart .single_add_to_cart_button,
		.cart .single_add_to_cart_button {
			position: relative;
			top: 0;
			right: 0;
			float: none;
			padding: 5px 15px;
		}
	}
}
@media(max-width: @screen-xs - 1) {
	.single-product .bt-product-item {
		.bt-header .bt-header-inner {
			.variations_form .single_variation_wrap .woocommerce-variation-add-to-cart,
			.cart {
				> span {
					display: none;
				}
				.quantity {
					margin-left: 0;
				}
			}
		}
		.bt-content .woocommerce-tabs ul.tabs > li > a {
			margin: 5px 0;
		}
	}
}

.woocommerce-cart .main-content .woocommerce {
	background: @bg-color-4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 30px;
	overflow: hidden;
	table.shop_table {
		.bt-default-font-main;
		font-size: @font-size-7;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: 0.16px;
		color: @dark-color-5;
		margin-bottom: 60px;
		border: none;
		border-collapse: collapse;
		th, td {
			font-weight: 400;
			border: none;
			text-transform: uppercase;
		}
		thead tr {
			background: @light-color;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			overflow: hidden;
			th {
				text-align: center;
				padding: 15px 40px;
				&.product-item {
					text-align: left;
				}
			}
		}
		tbody tr {
			border-bottom: 1px solid @lightgray-color-3;
			td {
				font-size: @font-size-7;
				text-align: center;
				padding: 30px 0;
				&.product-item {
					text-align: left;
					img {
						width: 130px;
						height: auto;
						margin-right: 30px;
						-webkit-border-radius: 3px;
						-moz-border-radius: 3px;
						border-radius: 3px;
					}
					a {
						font-size: @font-size-5;
						font-weight: 700;
						letter-spacing: 0.48px;
						color: @dark-color-2;
						&:hover {
							color: @main-color;
						}
					}
				}
				&.product-price, &.product-subtotal {
					font-size: 15px;
					font-weight: 700;
					line-height: 28px;
					letter-spacing: 0.48px;
					color: @main-color;
				}
				&.product-quantity .quantity input {
					.easing-animation;
					font-size: @font-size-7;
					font-weight: 700;
					line-height: 28px;
					letter-spacing: 0.48px;
					width: 70px;
					padding: 5px;
					background: @light-color;
					border: 1px solid @light-color;
					&:hover, &:focus {
						border-color: @main-color;
					}
				}
				&.product-remove a.remove {
					display: inline-block;
					color: @dark-color-1 !important;
					&:hover {
						color: @main-color !important;
						background: transparent;
					}
				}
				&.actions {
					.coupon input {
						&.input-text {
							padding: 12px;
							margin-right: 10px;
							min-width: 200px;
							border: 1px solid @lightgray-color-3;
							&:hover, &:focus {
								border-color: @main-color;
							}
						}
						&.button {
							font-size: @font-size-7;
							font-weight: 400;
							text-transform: uppercase;
							color: @light-color;
							background: @dark-color;
							padding: 13px 30px;
							-webkit-border-radius: 3px;
							-moz-border-radius: 3px;
							border-radius: 3px;
							&:hover {
								background: @main-color;
							}
						}
					}
					> .button {
						font-size: @font-size-7;
						font-weight: 400;
						text-transform: uppercase;
						color: @light-color;
						background: @main-color;
						padding: 12px 30px;
						float: right;
						-webkit-border-radius: 3px;
						-moz-border-radius: 3px;
						border-radius: 3px;
						&:hover {
							background: @dark-color;
						}
					}
				}
			}
		}
	}
	.cart-collaterals {
		.cart_totals {
			width: 100% !important;
			float: none;
			.shipping-wrap {
				background: @light-color;
				padding: 50px 40px;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				> h4 {
					font-size: @font-size-5;
					font-weight: 700;
					letter-spacing: 0.48px;
					text-transform: uppercase;
					color: @dark-color-2;
					margin-bottom: 5px;
				}
				> p {
					font-size: @font-size-8;
					font-weight: 400;
					font-style: italic;
					letter-spacing: 0.64px;
					color: @dark-color-5;
					margin-bottom: 20px;
				}
				.woocommerce-shipping-calculator {
					> p {
						display: inline-block;
						width: 48%;
						padding: 0;
						margin-bottom: 10px;
						text-align: right;
						&#calc_shipping_country_field, &#calc_shipping_postcode_field {
							margin-right: 1%;
						}
						input, select {
							.bt-default-font-main;
							font-size: 10px;
							font-weight: 400;
							line-height: 26px;
							letter-spacing: 0.64px;
							text-transform: uppercase;
							color: @darkgray-color-3;
						}
						button {
							.easing-animation;
							.bt-default-font-main;
							font-size: @font-size-9;
							font-weight: 400;
							line-height: 26px;
							letter-spacing: 0.48px;
							text-transform: uppercase;
							color: @light-color;
							background: @main-color;
							padding: 9px 30px;
							-webkit-border-radius: 3px;
							-moz-border-radius: 3px;
							border-radius: 3px;
							&:hover {
								background: @dark-color;
							}
						}
					}
				}
			}
			
			.total-wrap {
				padding: 15px 30px;
				table {
					.bt-default-font-main;
					font-size: @font-size-7;
					font-weight: 700;
					letter-spacing: 0.48px;
					color: @dark-color;
					text-transform: uppercase;
					margin-bottom: 0;
					border: none;
					th, tr, td {
						font-weight: 700;
						letter-spacing: 0.48px;
						border: none;
						padding: 0 0 15px;
						white-space: nowrap;
						&.shipping > td {
							text-align: right;
						}
						&.tax-total {
							th, td {
								padding-bottom: 30px;
							}
						}
						&.order-total {
							border-top: 1px solid #dbdbdb;
							th, td {
								font-size: @font-size-4;
								padding-top: 20px;
							}
						} 
					}
					th {
						color: #a2a2a2;
						padding-left: 80px;
					}
					td {
						text-align: right;
					}
				}
			}
			
		}
	}
	.wc-proceed-to-checkout {
		text-align: right;
		padding-right: 30px;
		.checkout-button {
			.bt-default-font-main;
			font-size: @font-size-9;
			font-weight: 400;
			letter-spacing: 0.48px;
			text-transform: uppercase;
			display: inline-block;
			color: @light-color;
			background: @main-color;
			padding: 18px 30px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			&:hover {
				background: @dark-color;
			}
		}
	}
	.cart-empty {
		margin-bottom: 30px;
	}
	.return-to-shop > a {
		.bt-btn;
		text-transform: uppercase;
		color: @light-color;
		background: @main-color;
		padding: 18px 30px;
		border: 2px solid @main-color;
		&:hover {
			color: @main-color;
			background: transparent;
		}
	}
}

@media(max-width: @screen-lg - 1) {
	.woocommerce-cart .main-content .woocommerce table.shop_table tbody tr td.product-item img {
		width: 60px;
		margin-right: 15px;
	}
}

@media(max-width: @screen-md - 1) {
	.woocommerce-cart .main-content .woocommerce table.shop_table tbody tr td {
		padding: 15px 0;
		&.actions > .button {
			float: none;
		}
	}
	.woocommerce table.shop_table_responsive tr:nth-child(2n) td, .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
		background: none;
	}
}

@media(max-width: @screen-xxs - 1) {
	.woocommerce-cart .main-content .woocommerce {
		table.shop_table tbody tr td.actions .coupon input.input-text {
			min-width: 190px;
		}
		.cart-collaterals .cart_totals .shipping-wrap .woocommerce-shipping-calculator > p {
			width: 100%;
			&#calc_shipping_country_field {
				margin-right: 0;
			}
			button {
				width: 100%;
			}
		}
	}
}

@media(max-width: @screen-xs - 1) {
	.woocommerce-cart .main-content .woocommerce {
		table.shop_table tbody tr td.product-item a {
			display: inline-block;
			img {
				margin: 0 0 10px;
			}
		}
		.cart-collaterals .cart_totals {
			.shipping-wrap, .total-wrap {
				padding: 20px;
			}
		}
	}
}

.woocommerce-checkout .woocommerce {
	.woocommerce-info {
		background: transparent;
		margin: 0!important;
		padding: 0 !important;
		border: none;
		&:before, &:after {
			content: "";
		}
		h6.ro-checkout-title {
			font-size: @font-size-6;
			font-weight: 700;
			letter-spacing: 0.48px;
			position: relative;
			margin-bottom: 30px;
			> a {
				.easing-animation;
				display: block;
				color: @dark-color-2;
				background: @light-color;
				padding: 20px 30px;
				border: 1px solid @lightgray-color-3;
				&:before {
					content: "\f0a1";
					font-family: FontAwesome;
					display: inline-block;
					font-size: 24px;
					margin-right: 15px;
					vertical-align: middle;
					
				}
				&:after {
					.easing-animation;
					content: "\f107";
					font-family: FontAwesome;
					font-size: 16px;
					position: absolute;
					top: 22px;
					right: 20px;
				}
			}
			&.ro-coupon {
				> a {
					&:before {
						content: "\f145";
					}
				}
			}
		}
		&.ro-active {
			h6.ro-checkout-title {
				margin-bottom: 0;
				> a {
					color: @light-color;
					background: @dark-color;
					border: 1px solid @dark-color;
					&:after {
						content: "\f106";
					}
				}
			}
		}
	}
	
	.login, .checkout_coupon {
		.bt-default-font-main;
		margin: 0 0 30px;
		padding: 40px 30px 10px;
		border: 1px solid @lightgray-color-3;
		border-radius: 0;
		p {
			margin: 0;
			padding: 0;
			label {
				color: @dark-color;
			}
			input, select{
				margin-bottom: 30px;
				padding: 14px 20px;
				min-height: 40px;
				border: 1px solid @lightgray-color-3;
				&:hover, &:focus {
					border-color: @main-color;
				}
				&.button {
					.bt-btn;
					font-size: @font-size-7;
					font-weight: 400;
					letter-spacing: 0.48px;
					text-transform: uppercase;
					color: @light-color;
					background: @main-color;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					border-radius: 3px;
					&[name="login"] {
						margin-right: 30px;
					}
				}
				&#rememberme {
					min-height: 10px;
				}
			}
			&.lost_password {
				a {
					color: @dark-color;
					margin-bottom: 30px;
					&:hover {
						color: @main-color;
					}
				}
			}
		}
	}
	.login p {
		&:first-child {
			font-style: italic;
			margin-bottom: 30px;
		}
	}
	.woocommerce-checkout {
		.ro-checkout-title {
			font-size: @font-size-6;
			font-weight: 700;
			letter-spacing: 0.48px;
			text-align: center;
			color: @light-color;
			background: @dark-color-2;
			margin-bottom: 30px;
			padding: 20px 30px;
		}
		#customer_details {
			.bt-default-font-main;
			margin-bottom: 40px;
			p {
				margin: 0;
				padding: 0;
				label {
					font-size: @font-size-6;
					font-weight: 400;
					color: @dark-color-2;
				}
				input, select{
					margin-bottom: 30px;
					padding: 14px 20px;
					min-height: 40px;
					border: 1px solid @lightgray-color-3;
					&:hover, &:focus {
						border-color: @main-color;
					}
				}
				a.select2-choice {
					margin-bottom: 30px;
					padding: 2px 20px;
					min-height: 40px;
					border-radius: 0;
				}
				textarea {
					margin-bottom: 30px;
					padding: 14px 20px;
				}
			}
		}
	}
	.woocommerce-checkout-review-order {
		table.shop_table {
			.bt-default-font-main;
			font-weight: 400;
			color: @dark-color-2;
			margin-bottom: 60px;
			border: none;
			border-collapse: collapse;
			th, td {
				font-weight: 700;
				padding: 0;
				border: none;
				text-transform: uppercase;
			}
			thead {
				position: relative;
				&:after {
					content: "";
					position: absolute;
					bottom: 4px;
					width: 100%;
					border-bottom: 1px solid @lightgray-color-3;
				}
				tr {
					border-bottom: 1px solid @lightgray-color-3;
					th {
						font-size: @font-size-6;
						letter-spacing: 0.48px;
						text-align: center;
						padding: 10px 0;
						&.product-item {
							text-align: left;
							padding-left: 60px;
						}
					}
				}
			}
			tbody tr {
				border-bottom: 1px solid @lightgray-color-3;
				td {
					font-size: @font-size-7;
					padding: 20px 0;
					text-align: center;
					&.product-item {
					text-align: left;
						img {
							width: 60px;
							height: auto;
							margin-right: 30px;
							-webkit-border-radius: 3px;
							-moz-border-radius: 3px;
							border-radius: 3px;
						}
						a {
							color: @dark-color;
							&:hover {
								color: @main-color;
							}
						}
					}
					&.product-quantity .quantity input {
						.easing-animation;
						line-height: 26.4px;
						width: 60px;
						padding: 5px;
						border: 1px solid @lightgray-color-3;
						&:hover, &:focus {
							border-color: @main-color;
						}
					}
					&.actions {
						.coupon input {
							&.input-text {
								padding: 12px;
								margin-right: 10px;
								min-width: 200px;
								border: 1px solid @lightgray-color-3;
								&:hover, &:focus {
									border-color: @main-color;
								}
							}
							&.button {
								font-weight: 400;
								text-transform: uppercase;
								color: @light-color;
								background: @dark-color;
								padding: 12px 40px;
								border-radius: 0;
								&:hover {
									background: @main-color;
								}
							}
						}
						> .button {
							font-weight: 400;
							text-transform: uppercase;
							color: @light-color;
							background: @main-color;
							padding: 12px 40px;
							border-radius: 0;
							&:hover {
								background: @dark-color;
							}
						}
					}
				}
			}
			tfoot tr {
				border-bottom: 1px solid @lightgray-color-3;
				th, td {
					padding: 20px 0;
				}
				&.order-total {
					th {
						color: @main-color;
					}
					td {
						color: @dark-color;
						font-size: @font-size-4;
					}
				}
			}
		}
	}
	.woocommerce-checkout-payment {
		background: @light-color !important;
		border-radius: 0 !important;
		> ul li {
			padding: 0 20px 20px;
			label {
				.bt-default-font-main;
				color: @dark-color;
			}
		}
		.place-order {
			text-align: center;
			padding: 60px 0 80px !important;
			.button {
				.bt-default-font-main;
				font-size: @font-size-6;
				font-weight: 700;
				letter-spacing: 0.64px;
				text-transform: uppercase;
				float: none !important;
				color: @light-color;
				background: @main-color;
				padding: 15px 70px;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				&:hover {
					background: @dark-color;
				}
			}
		}
	}
}

@media(max-width: @screen-xxs - 1) {
	.woocommerce-checkout .woocommerce .woocommerce-checkout-review-order table.shop_table {
		thead tr th.product-item {
			padding-left: 0;
		}
		tbody tr td.product-item img {
			display: none;
		}
		tfoot tr {
			position: relative;
			th {
				display: inline-block;
				min-width: 120px;
			}
			td {
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
}

@media(max-width: @screen-xs - 1) {
	.woocommerce-checkout .woocommerce form.checkout_coupon .form-row-first, 
	.woocommerce-checkout .woocommerce form.checkout_coupon .form-row-last {
		width: 100%;
		.button {
			width: 100%;
		}
	}
}

.woocommerce-account .woocommerce {
	.myaccount_user {
		font-weight: 400;
		letter-spacing: 0.48px;
		line-height: 28px;
		text-align: center;
		color: @dark-color-3;
		margin-bottom: 30px;
		a {
			display: inline-block;
			font-weight: 700;
			color: @dark-color-2;
			&:hover {
				color: @main-color;
			}
		}
	}
	> h2 {
		.bt-heading-underline;
		font-size: 40px;
		font-weight: 700;
		line-height: 60px;
		letter-spacing: 0.48px;
		text-align: center;
		text-transform: uppercase;
		color: @dark-color-2;
		margin-bottom: 35px;
		padding-bottom: 25px;
	}
	.myaccount_address {
		text-align: center;
		margin-bottom: 90px;
	}
	.addresses {
		.title{
			> h3 {
				position: relative;
				font-size: @font-size-3;
				font-weight: 700;
				letter-spacing: 0.48px;
				text-transform: uppercase;
				color: @dark-color-2;
				margin-bottom: 30px;
				padding-bottom: 15px;
				&:after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 50px;
					height: 3px;
					background: @main-color;
				}
			}
			> a {
				.bt-default-font-main;
				font-size: @font-size-8;
				font-weight: 700;
				letter-spacing: 0.48px;
				text-transform: uppercase;
				color: @dark-color-2;
				&:after {
					content: "\f040";
					display: inline-block;
					font-family: FontAwesome;
					margin-left: 5px;
				}
				&:hover {
					color: @main-color;
				}
			}
		}
	}
	form {
		&.login, &.lost_reset_password {
			max-width: 450px;
			margin: 60px auto 0;
			padding: 30px 50px;
			border: 15px solid @bg-color-3;
			> p {
				margin: 0;
				padding: 0;
				> label {
					font-size: @font-size-6;
					font-weight: 400;
					letter-spacing: 0.48px;
					color: @dark-color-3;
				}
				> input {
					font-size: @font-size-6;
					font-weight: 400;
					letter-spacing: 0.48px;
					line-height: 28px;
					color: @dark-color-2;
					margin-bottom: 30px;
					padding: 8px 20px;
					border: 1px solid @lightgray-color-3;
					border-radius: 3px;
					&:focus {
						border-color: @main-color;
					}
					&.button {
						.bt-btn;
						text-transform: uppercase;
						color: @light-color;
						background: @main-color;
						margin-right: 30px;
						border: 2px solid @main-color;
						&:hover {
							color: @main-color;
							background: transparent;
						}
					}
				}
				&.lost_password a {
					.bt-default-font-main;
					font-size: @font-size-8;
					font-weight: 400;
					letter-spacing: 0.48px;
					text-transform: uppercase;
					color: @dark-color-1;
					&:hover {
						color: @main-color;
					}
				}
			}
		}
		&.lost_reset_password {
			margin-top: 0;
			> p.form-row-first {
				width: 100%;
				margin-top: 30px;
			}
		}
	}
}

@media(max-width: @screen-xs - 1) {
	.woocommerce-account .woocommerce form.login, .woocommerce-account .woocommerce form.lost_reset_password {
		padding: 20px;
		> p > input.button {
			width: 100%;
		}
	}
}

.bt-header-v1 .bt_widget_mini_cart {
	> a.bt-icon {
		color: @dark-color;
		&:hover {
			color: @main-color;
			span.cart_total {
				color: @light-color;
				background: @dark-color;
			}
		}
	}
}

.woocommerce .woocommerce-message {
	font-size: @font-size-6;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.48px;
	color: @dark-color-3;
	border-color: @main-color;
	> a {
		.bt-default-font-main;
		font-weight: 700;
		color: @dark-color-2;
		&:hover {
			color: @main-color;
		}
	}
	&:before {
		color: @main-color;
	}
}

@media(max-width: @screen-lg - 1) {
	.single-product .ro-reviews-content #review_form_wrapper .comment-form {
		width: 37%;
		> p.comment-form-comment {
			width: 58%;
		}
	}
}
@media(max-width: @screen-md - 1) {
	.single-product .ro-reviews-content #review_form_wrapper .comment-form {
		width: 48%;
		> p.comment-form-comment {
			width: 47%;
		}
	}
}
@media(max-width: @screen-sm - 1) {
	.single-product .ro-reviews-content #review_form_wrapper .comment-form {
		width: 100%;
		> p.comment-form-comment {
			width: 100%;
			position: relative;
		}
		> p.form-submit {
			position: relative;
			left: 0;
		}
	}
}
@media(max-width: @screen-xs - 1) {
	.woocommerce-cart .woocommerce table.shop_table tbody tr td.actions {
		.coupon input {
			&.input-text, &.button {
				float: none;
				width: 100%;
				margin-bottom: 30px;
			}
		}
		> .button {
			width: 100%;
			margin-bottom: 30px;
		}
	}
	.bt-header-v1 .bt_widget_mini_cart .bt-cart-content, .bt-header-v2 .bt_widget_mini_cart .bt-cart-content {
		padding: 40px 20px;
	}
}
.bears-shop-single-wrap{
	&.temp-shop2{
		.bears-shop-header{
			margin-bottom: 50px;
			.image-meta{
				position: relative;
				img{
					border-radius: 2px;
				}
				.onsale{
				    height: 60px;
				    left: 10px;
				    line-height: 56px;
				    position: absolute;
				    text-align: center;
				    top: 10px;
				    width: 60px;
					background: @secondary-color;
					color: @light-color;
				}
				.thumbnails{
					margin-top: 15px;
				}
			}
			.extra-meta{
				.item-meta{
					&.block-title{
						.product_title{
							margin-bottom: 6px;
						}
					}
					&.block-rating{
						.star-rating span::before{
							color: @secondary-color;
						}
					}
					&.block-excerpt{
						p{
							color: #666;
						}
					}
					&.block-price{
						.price{
							color: @black-color;
							font-family: montserrat;
							del{
								margin-right: 10px;
								font-size: 18px;
								opacity: .6;
								.amount{
									font-weight: bold;
								}
							}
							ins{
								border-bottom: none;
								text-decoration: none;
								.amount{
									border-bottom: none;
									text-decoration: none;
									font-size: 28px;
								}
							}
						}
					}
					&.block-cart{
						.single_add_to_cart_button{
							.btn-style-bgcolor;
							padding: 13px 20px;
							background: @main-color;
							&:hover{
								background: @secondary-color;
							}
						}
						.stock{
							color: @main-color;
							font-weight: bold;
						}
						form.cart > span{
							display: none;

						}
						form.cart{
							.variations{
								tr{
									td{
										vertical-align: initial;
										&.label{
											> label{
												color: #333;
												font-size: 15px;
											}
										}
										&.value{
											> select{
												margin-bottom: 10px;
											}
											line-height: normal;
										}
									}
								}
							}
							.single_variation_wrap{
								.woocommerce-variation-price{
									.price{
										color: @black-color;
										font-family: montserrat;
										del{
											margin-right: 10px;
											font-size: 18px;
											opacity: .6;
											.amount{
												font-weight: bold;
											}
										}
										ins{
											border-bottom: none;
											text-decoration: none;
											.amount{
												border-bottom: none;
												text-decoration: none;
												font-size: 28px;
											}
										}
									}
								}
								.woocommerce-variation-add-to-cart{
									> span{
										display: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
#bt-main{
	.sidebar-right{
		&.temp-shop2{
			.widget{
				&:not(:last-child){
					margin-bottom: 30px;
				}
				> ul{
					> li{
						> a{
							text-transform: uppercase;
							font-weight: bold;
						}
						ul{
							padding: 0 0 0 30px;
						}
					}
				}
				.wg-title{
					font-size: 16px;
					line-height: 24px;
					margin-bottom: 16px;
					padding-bottom: 8px;
					position: relative;
					&:after{
						content: "";
						position: absolute;
						left: 0;
						bottom: 0;
						width: 10%;
						height: 2px;
						background: @main-color;
					}
				}
				&.woocommerce{
					&.widget_product_search{
						.woocommerce-product-search{
							position: relative;
							&:after{
								content: "\f002";
							    font-family: FontAwesome;
							    font-style: normal;
							    font-weight: normal;
							    text-decoration: inherit;
							    position: absolute;
							    right: 10px;
							    top: 50%;
								transform: translateY(-50%);
								-webkit-transform: translateY(-50%);
								color: #999;
							}
						}
						.screen-reader-text{
							display: none;
						}
						input[type="submit"]{
							display: none;
						}
						.search-field{
							margin-bottom: 0;
						}
					}
					&.widget_products{
						.amount{
							font-family: montserrat;
							font-size: 13px;
						}
						ins{
							border: none;
							text-decoration: none;
							font-weight: bold;

						}
						del{
							margin-right: 6px;
							opacity: .5;
						}
						> ul{
							> li{
								line-height: 26px;
								> *:nth-child(2){
									margin-left: 24px;
								}
							}
						}
					}
					&.widget_recent_reviews{
						.star-rating{
							font-size: 11px;
							span::before{
								color: @main-color;
							}
						}
						.reviewer{
							font-size: 13px;
						}
						> ul{
							> li{
								line-height: 26px;
								> *:nth-child(2),
								> *:nth-child(3){
									margin-left: 21px;
								}
							}
						}
					}
				}
			}
		}
	}
}